.chats {
  text-align: center;
  height: calc(100vh - 72px);
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex: 1;
  height: 100%;
}

.message-wrapper {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: calc(100% - 40px);
}


